/* App.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  justify-content: center;
}

h1,
h2 {
  color: #00509E;
  text-align: center;
}

.dropdown {
  position: relative;
  margin-bottom: 20px;
  width: 300px;
}

.dropdown-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #00509E;
  border-radius: 4px;
  background-color: #F1F5F9;
  color: #00509E;
  text-align: left;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-item:hover {
  background-color: #E0F2FE;
}

.flag-img {
  margin-right: 8px;
  border-radius: 2px;
}

.weather-display {
  width: 100%;
  max-width: 600px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #F9FAFB;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}
.forecast{
  display: flex;
  width: 100%;
  padding: 15px ;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #F9FAFB;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}
.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
}


.forecast-item p {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

/* Loading and error messages */
.loading,
.error {
  font-size: 16px;
  color: #00509E;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .dropdown-btn {
    font-size: 14px;
  }

  .forecast,
  .weather-display {
    width: 90%;
  }

  h1,
  h2 {
    font-size: 18px;
  }
}